# This workflow will install Python dependencies and run tests with PyTest using Python 3.11
# For more information see: https://docs.github.com/en/actions/about-github-actions

name: Run tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout repository
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      # Set Python version
      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      # Upgrade pip
      - name: Upgrade pip
        run: |
          python -m pip install --upgrade pip

      # Install project dependencies
      - name: Install project dependencies
        run: |
          pip install -r requirements.txt

      # Run linters and formatters
      - name: Linters and formatters
        run: |
          black --check .
          flake8 .
          pylint bootcamp_main.py
          pylint documentation
          pylint modules
          pylint tests
          pylint utilities

      # Install dependencies and run tests with PyTest
      - name: Run PyTest
        run: pytest -vv

  close-prs:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: actions/stale@v10
        with:
          days-before-pr-stale: 120
          days-before-pr-close: 14
          stale-pr-label: "stale"
          stale-pr-message: "This pull request is stale because it has been open for 120 days with no activity."
          close-pr-message: "This pull request was closed because it has been inactive for 14 days since being marked as stale."
          repo-token: ${{ secrets.GITHUB_TOKEN }}
